.cm_title{
    text-align: center;
    font-size: 50px;
    height: 70px;
    line-height: 70px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Nanum Gothic', sans-serif;
}
.text_list{
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.text_list table{
    font-size: 13px;
    border-collapse: collapse;
    font-family: 'Nanum Gothic', sans-serif;
}
.text_list table tr{
    border-bottom: 1px solid #ddd;
}
.text_list table .title{
    border-top: 1px solid #ddd;
    background: rgba(0,0,0,.1);
    font-family: 'Nanum Gothic', sans-serif;
}
.text_list table td{
    text-align: center;
}
.text_list table .info td:nth-of-type(2){
    text-align: left;
}
.text_list table .info:hover{
    background: #ddd;
}
.but_line p{
    float: right;
    width: 100px;
    height: 30px;
    border: 1px solid #333;
    text-align: center;
    line-height: 30px;
    font-size: 13px;
    margin-top: 20px;
    cursor: pointer;
    transition: .3s;
    font-family: 'Nanum Gothic', sans-serif;
}
.but_line p:hover{
    background: #333;
    color: #fff;
    border: 1px solid #333;
}
.text_list_but{
    width: 700px;
    height: 40px;
    line-height: 40px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    font-size: 14px;
    margin-bottom: 30px;
    font-family: 'Nanum Gothic', sans-serif;
}
.text_list_but p{
    width: 130px;
    height: 40px;
    background: #ddd;
    text-align: center;
    cursor: pointer;
    transition: .4s;
}
.text_list_but p:hover{
    background: #333;
    color: #fff;
}

.text_enter{
    border: 1px solid #ddd;
    width: 750px;
    height: 150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    background: #f8fcf2;
    padding: 20px;
    box-sizing: border-box;
}
.text_enter .lineword{
    width: 600px;
    height: 100px;
    resize: none;
    box-sizing: border-box;
    padding: 10px;
    outline: none;
}
.text_enter .enter_but{
    width: 90px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 20px;
    transition: .4s;
}
.text_enter .enter_but:hover{
    background: #333;
    color: #fff;
}
.guest_list{
	width: 750px;
	margin: 0 auto;
	margin-top: 30px;
}
.guest_list div{
	padding: 20px;
	box-sizing: border-box;
	width: 750px;
	margin: 0 auto;
	border: 1px solid #ddd;
	font-size: 14px;
	margin-bottom: 20px;
	background: #f8fcf2;
}
.guest_list div .name_date{
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #ddd;
	width: 100%;
	padding-bottom: 7px;
	margin-bottom: 12px;
}

/* freeboard css 시작 */
.freeboard_write{
	width: 750px;
    margin: 0 auto;
    border: 1px solid #333;
    margin-top: 30px;
    box-sizing: border-box;
    padding: 20px;
    display: none;
}
.freeboard_write .title{
	display: flex;
	
}
.freeboard_write .title p{
	font-size: 14px;
	height: 40px;
	line-height: 40px;
}
.freeboard_write .title p:nth-of-type(1){
	width: 100px;
}
.freeboard_write .title input{
	width: 500px;
	height: 30px;
	outline: none;	
	padding-left: 10px;
	box-sizing: border-box;
}
.freeboard_write textarea{
	width: 100%;
	resize: none;
	height: 400px;
	margin-top: 20px;
	padding: 10px;
	outline: none;	
	box-sizing: border-box;
}
.freeboard_write .but_line{
	margin-top: 25px;
	float:right;
	margin-bottom: 50px;
} 
.freeboard_write .but_line p{
	margin-left: 15px;
}

/* Q&A board css 시작 */

.qnaboard_write{
	width: 750px;
    margin: 0 auto;
    border: 1px solid #333;
    margin-top: 30px;
    box-sizing: border-box;
    padding: 20px;
    display: none;
}
.qnaboard_write .title{
	display: flex;
	
}
.qnaboard_write .title p{
	font-size: 14px;
	height: 40px;
	line-height: 40px;
}
.qnaboard_write .title p:nth-of-type(1){
	width: 100px;
}
.qnaboard_write .title input{
	width: 500px;
	height: 30px;
	outline: none;	
	padding-left: 10px;
	box-sizing: border-box;
}
.qnaboard_write textarea{
	width: 100%;
	resize: none;
	height: 400px;
	margin-top: 20px;
	padding: 10px;
	outline: none;	
	box-sizing: border-box;
}
.qnaboard_write .but_line{
	margin-top: 25px;
	float:right;
	margin-bottom: 50px;
} 
.qnaboard_write .but_line p{
	margin-left: 15px;
}